@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../IMG/oaken.jpg);
    background-size: cover;
}

.decisaoPergunta2 h1 {
    padding-bottom: 50px;
    font-family: 'Permanent Marker', cursive;
    color: #614124;
}
.main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
}

.decisaoPergunta2 {
    padding: 20px;
    display: flex;
    margin-left: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Righteous", cursive;
    font-weight: 200;
    font-size: 20px;
    color: #525E75;
    width: 50%;
    background-color: #CEAB93;
    border-radius: 10%;
}

.escolhas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
    width: 50%;
}

.opcoes1{
    padding-bottom: 30px;
    font-family: "Righteous", cursive;
    font-weight: 100;
    font-size: 20px;
    align-items: center;
    color: white;
}
.botaoB {
    border-radius: 20px;
    background-color: #023047;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
}

.botaoB {
    text-decoration: none;
    color: #ffb703;
    font-family: "Righteous", cursive;
    font-weight: 200;
    font-size: 20px;
}

.botaoB:hover {
    cursor: pointer;
}

.bt1op1 {
    display: flex;
}