/* Página 1  - Kristoff*/
@media (max-width:699px) {
    .decisaoPergunta1 {
        margin: auto;
        transform: scale(0.8, 0.8);
    }

    .escolhas {
        margin: auto;
        transform: scale(0.7, 0.7);
    }
}

@media (max-width:500px) {
    .decisaoPergunta1 h1 {
        font-size: 30px;
    }

    .decisaoPergunta1 p {
        font-size: 18px;
    }
}

/* Página 2  - Kristoff*/
@media (max-width:699px) {
    .decisaoPergunta2 {
        margin: auto;
        transform: scale(0.8, 0.8);
    }

    .escolhas2 {
        margin: auto;
        transform: scale(0.7, 0.7);
    }
}

@media (max-width:500px) {
    .decisaoPergunta2 h1 {
        font-size: 30px;
    }

    .decisaoPergunta2 p {
        font-size: 18px;
    }
}

/* Página 3  - Kristoff*/
@media (max-width:699px) {
    .decisaoPergunta3 {
        margin: auto;
        transform: scale(0.8, 0.8);
    }

    .escolhas3 {
        margin: auto;
        transform: scale(0.7, 0.7);
    }
}

@media (max-width:500px) {
    .decisaoPergunta3 h1 {
        font-size: 30px;
    }

    .decisaoPergunta3 p {
        font-size: 18px;
    }
}

/* Game Over Genérico - Elsa*/
@media (max-width:699px) {
    .pagGen {
        transform: scale(0.8, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
    }

}

/* Game Over 1 - Elsa*/
@media (max-width:699px) {
    .pag1GO {
        transform: scale(0.8, 0.8);
        background-size: contain;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        justify-self: center;
    }
}

/* Game Over 2 - Elsa*/
@media (max-width:699px) {
    .pag2GO {
        transform: scale(0.8, 0.8);
        background-size: contain;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        justify-self: center;
    }
}

/* Game Over 3 - Elsa*/
@media (max-width:699px) {
    .pag3GO {
        transform: scale(0.8, 0.8);
        background-size: contain;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        justify-self: center;
    }
}

/* Página Vitória - Elsa*/
@media (max-width:699px) {
    .vitoriaElsa {
        transform: scale(0.85, 0.85);
        display: flex;
    }
    .principal h1{
        font-size: 40px;
    }

}